.error-page {
    background: url('data:image/svg+xml;utf8,<svg width="535" height="203"  viewBox="0 0 491 203" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M49.584 123.204V151.632H124.38V198H0.180001V4.79999H123V50.892H49.584V77.664H116.1V123.204H49.584ZM239.823 202.14C210.751 202.14 186.647 192.572 167.511 173.436C148.559 154.3 139.083 130.288 139.083 101.4C139.083 72.512 148.559 48.592 167.511 29.64C186.463 10.32 210.567 0.659991 239.823 0.659991C257.303 0.659991 273.495 4.79999 288.399 13.08C303.303 21.36 314.987 32.492 323.451 46.476L280.671 71.04C276.991 64.232 271.471 58.896 264.111 55.032C256.935 50.984 248.839 48.96 239.823 48.96C224.551 48.96 212.039 53.836 202.287 63.588C192.903 73.34 188.211 85.944 188.211 101.4C188.211 117.224 192.903 129.92 202.287 139.488C211.855 149.056 224.367 153.84 239.823 153.84C248.839 153.84 256.935 151.908 264.111 148.044C271.471 143.996 276.991 138.476 280.671 131.484L323.451 156.324C314.987 170.492 303.303 181.716 288.399 189.996C273.679 198.092 257.487 202.14 239.823 202.14ZM341.137 4.79999H490.177V198H440.773V52.548H390.541V198H341.137V4.79999Z" fill="white"/></svg>');
    background-repeat: repeat-x ;
    background-position: -2% bottom;
    padding-bottom: 14rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left {
        width: 53.4rem;
    }
    &__number {
        font-family: 'Cochineal';
        font-size: 22.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 1.356rem;
        margin-bottom: 4.5rem;
    }
    &__title {
        font-family: 'Cochineal';
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 111%;
        letter-spacing: 0.21rem;
        margin-bottom: 2.4rem;
    }
    &__text {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 4.5rem;
        color: #949494;
    }
    &-right {
        width: 69.6157rem;
        height: 69.6187rem;
    }
}

@media (max-width: 48em) {
    .error-page {
        background: url('data:image/svg+xml;utf8,<svg width="211" height="86"  viewBox="0 0 491 203" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M49.584 123.204V151.632H124.38V198H0.180001V4.79999H123V50.892H49.584V77.664H116.1V123.204H49.584ZM239.823 202.14C210.751 202.14 186.647 192.572 167.511 173.436C148.559 154.3 139.083 130.288 139.083 101.4C139.083 72.512 148.559 48.592 167.511 29.64C186.463 10.32 210.567 0.659991 239.823 0.659991C257.303 0.659991 273.495 4.79999 288.399 13.08C303.303 21.36 314.987 32.492 323.451 46.476L280.671 71.04C276.991 64.232 271.471 58.896 264.111 55.032C256.935 50.984 248.839 48.96 239.823 48.96C224.551 48.96 212.039 53.836 202.287 63.588C192.903 73.34 188.211 85.944 188.211 101.4C188.211 117.224 192.903 129.92 202.287 139.488C211.855 149.056 224.367 153.84 239.823 153.84C248.839 153.84 256.935 151.908 264.111 148.044C271.471 143.996 276.991 138.476 280.671 131.484L323.451 156.324C314.987 170.492 303.303 181.716 288.399 189.996C273.679 198.092 257.487 202.14 239.823 202.14ZM341.137 4.79999H490.177V198H440.773V52.548H390.541V198H341.137V4.79999Z" fill="white"/></svg>');
        background-repeat: repeat-x;
        background-position: -2% 90%;
        padding-bottom: 0;
    
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 12rem;
        }
        &-left {
            width: auto;
            text-align: center;
        }
        &__number {
            font-family: 'Cochineal';
            font-size: 40rem;
            letter-spacing: 2.4rem;
            margin-bottom: 4.4rem;
        }
        &__title {
            font-family: 'Cochineal';
            font-size: 5.8rem;
            line-height: 123%;
            letter-spacing: 0.336rem;
            margin-bottom: 6.4rem;
        }
        &__text {
            font-size: 2.8rem;
            margin-bottom: 6.4rem;
        }
        &__link {
            margin: 0 auto;
        }
        &-right {
            width: 42rem;
            height: 42rem;
            margin: 0 auto;
        }
    }
}
