.baner {
    margin-bottom: 24rem;
    position: relative;
    
    &__video {
        position: absolute;
        width: 100%;
        height: 150%;
        z-index: 100;
        opacity: 1;
        overflow: hidden;
        margin-bottom: 1rem;
        top: -5rem;
        transition: all 0.5s ease-in-out;

        video {
            width: 148%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: -46rem;
            top: -14rem;
        }
    }
    .container {
        width: 100%;
        position: relative;
    }
    &-swiper {
        position: relative;
        overflow: hidden;
    }
    .swiper-wrapper {
        align-items: center;
    }

    &-swiper-text {
        position: absolute;
        display: flex;
        top: 26rem;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
        left: 0;
        right: 0;

        img {
            width: 52.1rem;
        }
    }

    .swiper-slide {
        width: 37.221%;
        width: 31.5292%;
        width: 39.84%;
        display: flex;

        &.swiper-slide-active {
            width: 47%;
            width: 39.84%;
            .baner-circle {
                height: 75.8rem;
                border: none;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .baner-circle {
            height: 60rem;
            width: 60rem;
            border: 1.2px solid #B1C8EE;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        img {
            width: 48.9rem;
            height: 48.7rem;
        }
    }
    .baner-swiper-next, .baner-swiper-prev {
        top: 10.5%;
        width: 5rem;
        z-index: 0;
        &::after {
            content: unset;
        }
        .arrow {
            width: 4rem;
        }
    }
    .baner-swiper-next {
        right: 35.2rem;
    }
    .baner-swiper-prev {
        left: 35.2rem;

        .arrow::after {
            right: auto;
            left: -0.3rem;
            transform: rotate(135deg);
        }
    }
    .swiper-pagination {
        display: flex;
        gap: 1.1rem;
        align-items: center;
        bottom: 6rem;
        left: 37rem;
    }
    .swiper-pagination-bullet {
        background-color: inherit;
        color: #949494;
        font-size: 2.4rem;
        font-family: 'Cochineal';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        width: auto;
        height: auto;
    }
    .swiper-pagination-bullet-active {
        background-color: inherit;
        color: #0D0D0D;
        font-size: 4rem;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        position: absolute;
        width: 40.3rem;
        right: 15.5rem;
        bottom: -9rem;
    }
    &__title {
        font-size: 4rem;
        font-family: 'Cochineal';
        font-style: normal;
        font-weight: 400;
        line-height: 4.3rem;
        letter-spacing: 2.4px;
    }
    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 140%;
        width: 90%;
    }
}

@media (max-width: 48em) {
    .baner {
        margin-top: 5rem;
        margin-bottom: 24rem;
        position: relative;

        &__video {
            position: absolute;
            width: 100%;
            height: 120%;
            z-index: 100;
            overflow: hidden;
            margin-bottom: 1rem;
            top: -4rem;
            transition: all 0.5s ease-in-out;
            margin: 0 -2rem;
    
            video {
                width: 145%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: -17rem;
                top: -33rem;
            }
        }
        
        .container {
            width: 100%;
        }
        &-swiper {
            position: relative;
            overflow: hidden;
            margin-bottom: 25.2rem;
        }
        .swiper-wrapper {
            align-items: center;
        }

        &-swiper-text {
            position: absolute;
            display: flex;
            top: 26rem;
            gap: 1.87rem;
            width: 106%;
            justify-content: space-between;
            margin: 0 auto;
            left: -5rem;
            right: 0;
            overflow: hidden;
    
            img {
                width: 42.2rem;
            }
        }
    
        .swiper-slide {
            width: 100%;
    
            &.swiper-slide-active {
                width: 100%;

                .baner-circle {
                    width: 67.6rem;
                    height: 67.6rem;
                    border: none;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .baner-circle {
                height: 60rem;
                border: 1.2px solid #B1C8EE;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                width: 48.9rem;
                height: 48.7rem;
            }
        }
        .baner-swiper-next, .baner-swiper-prev {
            top: 67.5%;
            width: 8rem;
            &::after {
                content: unset;
            }
            .arrow {
                width: 8rem;

                &::after {
                    width: 2rem;
                    top: -0.6rem;
                }
            }
        }
        .baner-swiper-next {
            right: 2rem;
        }
        .baner-swiper-prev {
            left: 2rem;
    
            .arrow::after {
                right: auto;
                left: -0.3rem;
                transform: rotate(135deg);
            }
        }
        .swiper-pagination {
            display: flex;
            gap: 1.1rem;
            align-items: center;
            bottom: 36rem;
            left: 0;
            right: 0;
            justify-content: center;
            z-index: 0;
        }
        .swiper-pagination-bullet {
            background-color: inherit;
            color: #949494;
            font-size: 3.6rem;
            font-family: 'Cochineal';
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.92px;
            text-transform: uppercase;
            width: auto;
            height: auto;
        }
        .swiper-pagination-bullet-active {
            background-color: inherit;
            color: #0D0D0D;
            font-size: 6.4rem;
        }
        &__text {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            position: relative;
            width: auto;
            right: unset;
            bottom: unset;
        }
        &__title {
            font-size: 5.6rem;
            font-family: 'Cochineal';
            font-style: normal;
            font-weight: 400;
            line-height: 123%;
            letter-spacing: 1.68px;
        }
        &__subtitle {
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 140%;
            width: 90%;
        }
    }
}