.header {
    margin-top: 2.5rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

    &.hidden {
        opacity: 0;
        overflow: hidden;
        margin-top: 0;
        max-height: 0
    }

    .container {
        display: flex;
        align-items: center;
    }

    &__burger {
        display: none;
    }
    &__logo {
        margin-right: 7.4rem;

        img {
            width: 16.6rem;
        }
        a {
            display: flex;
            align-items: center;
            gap: 1.6rem;
        }
        p {
            color: #0D0D0D;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-size: 1.2rem;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        flex: 1;
        font-size: 2rem;
        font-weight: 400;
        line-height: normal;
        position: relative;

        &-btn {
            padding: 1rem 0;

            p {
                position: relative;
                padding-right: 1.8rem;
                margin-right: 3.2rem;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0; 
                    height: 0; 
                    border-left: 0.7rem solid transparent;
                    border-right: 0.7rem solid transparent;
                    border-top: 0.8rem solid #0D0D0D;
                    top: 40%;
                    right: 0;
                    transition: 0.5s ease-in-out;
                }
            }
            
            &:hover {
                p::after {
                    top: 30%;
                    transform: rotate(180deg);
                }
                & .header__menu-container {
                    opacity: 1;
                    z-index: 2;
                    transform: translateY(0);
                    display: flex;
                }
            }
        }

        &-container {
            position: absolute;
            width: 90rem;
            max-width: 90rem;
            height: 14rem;
            bottom: -14rem;
            left: -3.2rem;
            opacity: 0;
            z-index: -1;
            background-color: #EFEFF2;
            transition: 0.5s opacity;
        }


        &-list {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 2rem;
            column-gap: 6rem;
            flex-wrap: wrap;
            line-height: 150%;
            font-size: 1.8rem;
            height: 100%;
            width: 100%;
            padding: 3.2rem 2.7rem;
        }
        &-link {
            color: #274497;
            position: relative;

            &.menu-arrow {
                padding-right: 5.35rem;
            }

            .arrow {
                top: 50%;
                right: 0;
            }
        }
        &-search {
            margin-left: auto;
            width: 28rem;
            height: 4rem;
            border: 1px solid #D9D9D9;
            position: relative;
            background: url(../img/icon/search.svg) no-repeat center right 1.8rem/1.8rem;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        font-size: 2.2rem;
        font-family: 'Cochineal';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.32px;
        margin-left: 7.8rem;
        margin-right: 3rem;

        a {
            display: block;
        }
    }
}

@media (max-width: 48em) {
    .header {
        margin-top: 2.5rem;
        text-transform: uppercase;
    
        .container {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
        }
    
        &__burger {
            display: block;
            position: relative;
            width: 5.6rem;
            height: 3.2rem;

            &-icon {
                transition-duration: 0.5s;
                position: absolute;
                height: 0.4rem;
                width: 100%;
                top: 50%;
                background-color: #0D0D0D;
                border-radius: 5rem;
                left: 0;
                right: 0;
                margin: auto; 

                &::before {
                    content: "";
                    transition-duration: 0.5s;
                    position: absolute;
                    height: 0.4rem;
                    width: 100%;
                    background-color: #0D0D0D;
                    top: -1.6rem;
                    border-radius: 5rem;
                }
                &::after {
                    content: "";
                    transition-duration: 0.5s;
                    position: absolute;
                    height: 0.4rem;
                    width: 100%;
                    background-color: #0D0D0D;
                    top: 1.6rem;
                    border-radius: 5rem;
                  }
            }
        }
        &__logo {
            margin-right: 0;
    
            img {
                width: 21.8rem;
            }
            a {
                display: flex;
                align-items: center;
                gap: 1.8rem;
            }
            p {
                color: #0D0D0D;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-size: 2.2rem;
                width: 27rem;
            }
        }
        &__menu {
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 2rem;
            font-weight: 400;
            line-height: normal;
            position: absolute;
    
            &-btn {
                p {
                    display: none;
                }
            }

            &-container {
                position: absolute;
                width: 75rem;
                height: auto;
                max-width: unset;
                bottom: unset;
                top: 5rem;
                left: -2.2rem;
                opacity: 1;
                z-index: 20;
                background-color: #EFEFF2;
                transition: 0.5s opacity;
                display: none;
                max-height: 150rem;
            }
    
            &-list {
                display: flex;
                flex-direction: column;
                position: relative;
                gap: 4rem;
                flex-wrap: nowrap;
                line-height: 150%;
                font-size: 2.8rem;
                height: 100%;
                width: 100%;
                padding: 3.2rem 2.7rem;
            }

            &-link {
                display: none;
            }
            &-search {
                margin: 0;
                width: 60.5rem;
                height: auto;
                border: 1px solid #D9D9D9;
                position: relative;
                background: url(../img/icon/search.svg) no-repeat center right 3.6rem/3.6rem;
                padding: 2rem 0;
            }
        }
        &__right {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
