.life-stories {

    .container > .top-title {
        text-align: left;
        margin-bottom: 6.8rem;
    }
    &-container {
        position: relative;
    }
    &-slide {
        display: flex;
        gap: 19.9rem;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
        width: 10rem;
        margin-bottom: 6.8rem;
    }
    &-left {
        width: 35.8rem;

        &__title {
            font-size: 7.5rem;
            font-family: 'Cochineal';
            line-height: 100%;
            letter-spacing: 0.45rem;
            color: #274497;
            margin-bottom: 3.2rem;
        }
        &__subtitle {
            color: #949494;
        }
    }
    &-right {
        flex: 1;

        &__item {
            position: relative;
            overflow: hidden;
            padding: 4.4rem 3rem;
            border-bottom: 1px solid #D9D9D9;
            display: flex;
            gap: 25.1rem;

            &:first-child {
                border-top: 1px solid #D9D9D9;
            }

            &:hover {
                color: #FFF;

                .life-stories-right__item-img {
                    opacity: 1;
                }
                .life-stories-right__item-number {
                    top: calc(100% - 11.8rem);

                    span {
                        color: #FFF;
                    }
                }
            }

            &-img {
                position: absolute;
                z-index: -1;
                top: -30rem;
                left: 0;
                opacity: 0;
                transition: all 1s ease-out;
            }
            &-number {
                position: absolute;
                font-size: 3.5rem;
                font-family: 'Cochineal';
                line-height: 111%;
                letter-spacing: 0.21rem;
                height: fit-content;
                transition: top 1s ease-out;
                top: 4.4rem;

                span {
                    color: #274497;
                    font-size: 7.5rem;
                    font-family: 'Cochineal';
                    line-height: 100%;
                    letter-spacing: 0.45rem;
                }
            }
            &-text {
                font-size: 3.5rem;
                font-family: 'Cochineal';
                line-height: 111%;
                letter-spacing: 0.21rem;
                margin-left: 38.8rem;
            }
        }
    }
    &-pagination {
        top: -9.5rem;
        right: 0;
        display: flex;
        gap: 3.321rem;

        .swiper-pagination-bullet {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 150%;
            text-transform: uppercase;
            width: auto;
            height: auto;
            background: inherit;
            position: relative;

            &-active {

                &::after {
                    content: '';
                    background: #274497;
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                    width: 0.6rem;
                    height: 0.6rem;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: -1rem;
                }
            }
        }
    }

    &_inner {

        &__title {
            font-family: 'Cochineal';
            font-size: 7.5rem;
            line-height: 100%;
            letter-spacing: 0.45rem;
            margin-bottom: 6.8rem;
        }
        &-container {
            display: flex;
            gap: 6rem;
        }
        &-left {
            flex: 1;
        }
        &-top {
            display: flex;
            gap: 3.7rem;
            margin-bottom: 2rem;

            &__left {
                width: 18.2rem;
                color: #949494;
                font-size: 1.8rem;
                line-height: 150%;
                text-transform: uppercase;

                &-img {
                    width: 13.9rem;
                    height: 13.9rem;
                    margin-bottom: 3rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &__right {
                flex: 1;

                &-title {
                    font-family: 'Cochineal';
                    font-size: 3.5rem;
                    line-height: 111%;
                    letter-spacing: 0.21rem;
                    margin-bottom: 4rem;
                    color: #949494;
                }
                &-text {

                    span {
                        display: inline-block;
                        height: 2rem;
                        width: 9.52rem;
                    }
                }
            }

        }
        &-center {
            display: flex;
            gap: 4rem;
            margin-bottom: 2rem;

            &-left {
                width: 51.8rem;
                font-family: 'Cochineal';
                font-size: 3.5rem;
                line-height: 111%;
                letter-spacing: 0.21rem;
                padding: 2rem 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    display: block;
                    width: 8rem;
                    height: 0.8rem;
                    background: #274497;

                }
            }
            &-right {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }
        &-text {
            margin-bottom: 6rem;
        }
        &-bottom {
            &__title {
                font-family: 'Cochineal';
                font-size: 3.5rem;
                line-height: 111%;
                letter-spacing: 0.21rem;
                margin-bottom: 4rem;
            }
            &__list {
                li {
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                    border-bottom: 1px solid #D9D9D9;
                    padding-left: 5.6rem;
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 1.6rem;
                        height: 1.6rem;
                        border: 1px solid #274497;
                        border-radius: 50%;
                        top: 0.5rem;
                        left: 0;
                    }

                    &:last-child {
                        border-bottom: unset;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &-right {
            width: 35.8rem;
            display: flex;
            flex-direction: column;
            gap: 3.2rem;

            &-item {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &__img {
                    width: 35.8rem;
                    height: 19.8rem;
                    background: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 21.9rem;
                        height: 18rem;
                    }
                }
                &__text {
                    width: 21.8rem;
                }
            }
        }
    }
}

@media (max-width: 48em) {
    .life-stories {
        .container {
            padding: 0;
        }
        .container > .top-title {
            text-align: left;
            margin-bottom: 8rem;
            padding: 0 2rem;
        }
        &-container {
            position: relative;
        }
        &-slide {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }
        &__title {
            font-size: 2.8rem;
            width: auto;
            margin-bottom: 21.4rem;
            padding: 0 2rem;
        }
        &-left {
            width: auto;
            padding: 0 2rem;
    
            &__title {
                font-size: 8rem;
                line-height: 107%;
                letter-spacing: 0.48rem;
                margin-bottom: 3.2rem;
            }
        }
        &-right {
            flex: 1;
    
            &__item {
                position: relative;
                overflow: unset;
                padding: 3.2rem 0;
                border-bottom: 1px solid #D9D9D9;
                border-top: 1px solid #D9D9D9;
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
                margin: 29.4rem 2rem 0;
    
                &:first-child {
                    margin: 21.4rem 2rem 0;
                }
    
                &:hover {
                    color: #0D0D0D;
    
                    .life-stories-right__item-img {
                        opacity: 1;
                    }
                    .life-stories-right__item-number {
                        top: unset;
    
                        span {
                            color: #274497;
                        }
                    }
                }
    
                &-img {
                    position: absolute;
                    overflow: hidden;
                    z-index: -1;
                    height: 17.4rem;
                    top: -21.4rem;
                    left: -2rem;
                    opacity: 1;
                    transition: all 1s ease-out;
                    width: 75rem;

                    img {
                        object-fit: contain;
                        position: absolute;
                        top: -20rem;
                    }
                }
                &-number {
                    position: relative;
                    font-size: 3.5rem;
                    font-family: 'Cochineal';
                    line-height: 107%;
                    letter-spacing: 0.216rem;
                    height: fit-content;
                    transition: top 1s ease-out;
                    top: 0;
                    display: flex;
                    align-items: center;
    
                    span {
                        font-size: 5.8rem;
                        line-height: 123%;
                        letter-spacing: 0.336;
                        margin-right: 1.4rem;
                    }
                }
                &-text {
                    font-size: 5.6rem;
                    line-height: 123%;
                    letter-spacing: 0.21rem;
                    margin-left: 0;
                }
            }
        }
        &-pagination {
            top: -17.5rem;
            right: 0;
            display: flex;
            gap: 3.321rem;
            overflow: auto;
            width: 70rem;
            height: 7.5rem;
            margin-right: 3rem;
    
            .swiper-pagination-bullet {
                font-size: 2.8rem;
                width: auto;
                height: auto;
                background: inherit;
                position: relative;
                height: fit-content;
                margin-top: 2rem;
    
                &-active {
    
                    &::after {
                        content: '';
                        background: #274497;
                        display: block;
                        position: absolute;
                        border-radius: 50%;
                        width: 1.2rem;
                        height: 1.2rem;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: -2rem;
                    }
                }
            }
        }

        &_inner {

            &__title {
                font-size: 5.8rem;
                line-height: 123%;
                letter-spacing: 0.336rem;
                margin-bottom: 8rem;
            }
            &-container {
                display: flex;
                flex-direction: column;
                gap: 0;
            }
            &-left {
                width: auto;
                flex: unset;
            }
            &-top {
                display: flex;
                flex-direction: column;
                gap: 4.8rem;
                margin-bottom: 8rem;
    
                &__left {
                    display: flex;
                    width: auto;
                    color: #949494;
                    font-size: 2.8rem;
                    margin-bottom: 0;
                    justify-content: space-between;
                    align-items: center;
    
                    &-img {
                        width: 27.8rem;
                        height: 27.8rem;
                        margin-bottom: 0;
    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &-text {
                        width: 35.4rem;
                    }
                }
                &__right {
                    flex: unset;
    
                    &-title {
                        font-size: 4rem;
                        line-height: 100%;
                        letter-spacing: 0.24rem;
                        margin-bottom: 6.4rem;
                        color: #949494;
                    }
                    &-text {
    
                        span {
                            display: inline-block;
                            height: 2rem;
                            width: 9.52rem;
                        }
                    }
                }
    
            }
            &-center {
                display: flex;
                flex-direction: column;
                gap: 8rem;
                margin-bottom: 4rem;
    
                &-left {
                    width: auto;
                    font-family: 'Cochineal';
                    font-size: 5.8rem;
                    line-height: 123%;
                    letter-spacing: 0.336rem;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 3.2rem;
    
                    span {
                        display: block;
                        width: 16rem;
                        height: 1.6rem;
                        background: #274497;
    
                    }
                }
                &-right {
                    flex: unset;
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;

                    &.text-normal {
                        font-size: 3.6rem;
                    }
                }
                &-item {
                    margin: 2.4rem 0;
                    display: flex;
                    justify-content: space-between;
                }
            }
            &-text {
                margin-bottom: 12rem;
            }
            &-bottom {
                &__title {
                    font-size: 5.8rem;
                    line-height: 123%;
                    letter-spacing: 0.336rem;
                    margin-bottom: 8rem;
                }
                &__list {
                    li {
                        padding-bottom: 4rem;
                        margin-bottom: 4rem;
                        border-bottom: 1px solid #D9D9D9;
                        padding-left: 7.2rem;
                        position: relative;
    
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 3.2rem;
                            height: 3.2rem;
                            border: 1px solid #274497;
                            border-radius: 50%;
                            top: 0.5rem;
                            left: 0;
                        }
    
                        &:last-child {
                            border-bottom: unset;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &-right {
                width: 35.8rem;
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
    
                &-item {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                    width: 34.4rem;
    
                    &__img {
                        width: 100%;
                        height: 20rem;
                        background: #FFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        img {
                            width: 21.9rem;
                            height: 18rem;
                        }
                    }
                    &__text {
                        width: auto;
                    }
                }
            }
        }
    }
}