.life-stories {

    .container > .top-title {
        text-align: left;
        margin-bottom: 6.8rem;
    }
    &-container {
        position: relative;
    }
    &-slide {
        display: flex;
        gap: 19.9rem;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
        width: 10rem;
        margin-bottom: 6.8rem;
    }
    &-left {
        width: 35.8rem;

        &__title {
            font-size: 7.5rem;
            font-family: 'Cochineal';
            line-height: 100%;
            letter-spacing: 0.45rem;
            color: #274497;
            margin-bottom: 3.2rem;
        }
        &__subtitle {
            color: #949494;
        }
    }
    &-right {
        flex: 1;

        &__item {
            position: relative;
            overflow: hidden;
            padding: 4.4rem 3rem;
            border-bottom: 1px solid #D9D9D9;
            display: flex;
            gap: 25.1rem;
            cursor: context-menu;

            &:first-child {
                border-top: 1px solid #D9D9D9;
            }

            &:hover {
                color: #FFF;

                .life-stories-right__item-img {
                    opacity: 1;
                }
                .life-stories-right__item-number {
                    top: calc(100% - 11.8rem);

                    span {
                        color: #FFF;
                    }
                }
            }

            &-img {
                position: absolute;
                z-index: -1;
                top: -30rem;
                left: 0;
                opacity: 0;
                transition: all 1s ease-out;
            }
            &-number {
                position: absolute;
                font-size: 3.5rem;
                font-family: 'Cochineal';
                line-height: 111%;
                letter-spacing: 0.21rem;
                height: fit-content;
                transition: top 1s ease-out;
                top: 4.4rem;

                span {
                    color: #274497;
                    font-size: 7.5rem;
                    font-family: 'Cochineal';
                    line-height: 100%;
                    letter-spacing: 0.45rem;
                }
            }
            &-text {
                font-size: 3.5rem;
                font-family: 'Cochineal';
                line-height: 111%;
                letter-spacing: 0.21rem;
                margin-left: 38.8rem;
            }
        }
    }
    &-pagination {
        top: -9.5rem;
        right: 0;
        display: flex;
        gap: 3.321rem;

        .swiper-pagination-bullet {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 150%;
            text-transform: uppercase;
            width: auto;
            height: auto;
            background: inherit;
            position: relative;

            &-active {

                &::after {
                    content: '';
                    background: #274497;
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                    width: 0.6rem;
                    height: 0.6rem;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: -1rem;
                }
            }
        }
    }
}

@media (max-width: 48em) {
    .life-stories {
        .container {
            padding: 0;
        }
        .container > .top-title {
            text-align: left;
            margin-bottom: 8rem;
            padding: 0 2rem;
        }
        &-container {
            position: relative;
        }
        &-slide {
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }
        &__title {
            font-size: 2.8rem;
            width: auto;
            margin-bottom: 21.4rem;
            padding: 0 2rem;
        }
        &-left {
            width: auto;
            padding: 0 2rem;
    
            &__title {
                font-size: 8rem;
                line-height: 107%;
                letter-spacing: 0.48rem;
                margin-bottom: 3.2rem;
            }
        }
        &-right {
            flex: 1;
    
            &__item {
                position: relative;
                overflow: unset;
                padding: 3.2rem 0;
                border-bottom: 1px solid #D9D9D9;
                border-top: 1px solid #D9D9D9;
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
                cursor: context-menu;
                margin: 29.4rem 2rem 0;
    
                &:first-child {
                    margin: 21.4rem 2rem 0;
                }
    
                &:hover {
                    color: #0D0D0D;
    
                    .life-stories-right__item-img {
                        opacity: 1;
                    }
                    .life-stories-right__item-number {
                        top: unset;
    
                        span {
                            color: #274497;
                        }
                    }
                }
    
                &-img {
                    position: absolute;
                    overflow: hidden;
                    z-index: -1;
                    height: 17.4rem;
                    top: -21.4rem;
                    left: -2rem;
                    opacity: 1;
                    transition: all 1s ease-out;
                    width: 75rem;

                    img {
                        object-fit: contain;
                        position: absolute;
                        top: -20rem;
                    }
                }
                &-number {
                    position: relative;
                    font-size: 3.5rem;
                    font-family: 'Cochineal';
                    line-height: 107%;
                    letter-spacing: 0.216rem;
                    height: fit-content;
                    transition: top 1s ease-out;
                    top: 0;
                    display: flex;
                    align-items: center;
    
                    span {
                        font-size: 5.8rem;
                        line-height: 123%;
                        letter-spacing: 0.336;
                        margin-right: 1.4rem;
                    }
                }
                &-text {
                    font-size: 5.6rem;
                    line-height: 123%;
                    letter-spacing: 0.21rem;
                    margin-left: 0;
                }
            }
        }
        &-pagination {
            top: -17.5rem;
            right: 0;
            display: flex;
            gap: 3.321rem;
            overflow: auto;
            width: 70rem;
            height: 7.5rem;
            margin-right: 3rem;
    
            .swiper-pagination-bullet {
                font-size: 2.8rem;
                width: auto;
                height: auto;
                background: inherit;
                position: relative;
                height: fit-content;
                margin-top: 2rem;
    
                &-active {
    
                    &::after {
                        content: '';
                        background: #274497;
                        display: block;
                        position: absolute;
                        border-radius: 50%;
                        width: 1.2rem;
                        height: 1.2rem;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: -2rem;
                    }
                }
            }
        }
    }
}