@import "set";

@import "header";
@import "footer";
@import "modal";

// main
@import "baner";
@import "areas";
@import "our-numbers";
@import "about-us";
@import "our-ratings";
@import "main-news";

// team
@import "team";

// life-stories
@import "life-stories";

// contacts
@import "contacts";

// partners
@import "partners";

// services
@import "services";

// handbook
@import "handbook";

// broadcast
@import "broadcast";

// rights_protection
@import "rights_protection";

// news
@import "news";

// inner
@import "inner";

// 404
@import "404";

// about-company 
@import "about-company";
@import "activity";
@import "our-projects";

// trademark-registration rf
@import "trademark-registration";

// rf
@import "rf";

.swiper {
  overflow: hidden;
}
main > *:first-child {
  margin-top: 8rem;
}
section {
  margin-bottom: 20rem;
}
.container {

  & > .top-title {
    text-align: center;
  }
}
.top-title {
  display: block;
}
.btn {
  display: block;
  cursor: pointer;
  border: 1px solid #0D0D0D;
  border-radius: 6.9rem;
  padding: 1.2rem 6.8rem;
  font-size: 2rem;
  line-height: normal;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;

  &:hover {
    color: #274497;
    border: 1px solid rgb(13,13,13,0);
  }
}
.link-arrow {
  color: #274497;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  padding-right: 5.5rem;

  &::after {
      content: '';
      position: absolute;
      display: block;
      width: 3.4rem;
      height: 1.2rem;
      background: url(../img/icon/arrow-right.svg) no-repeat;
      background-size: contain;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
  }
}
.top-back {
  display: block;
  color: #274497;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  padding-left: 5.5rem;
  margin-bottom: 6rem;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 3.4rem;
    height: 1.7rem;
    background: url(../img/icon/arrow-left.svg) no-repeat;
    background-size: contain;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
  }
}
.text-normal {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 140%;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.8rem;

  .btn {
    height: fit-content;
  }
}
.top-title {
  font-size: 7.5rem;
  font-family: 'Cochineal';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4.5px;
}
.blue-text {
  color: #274497;
}
.open-mail {
  cursor: pointer;
}
.arrow {
  position: absolute;
  top: 2.5rem;
  width: 3.25rem;
  height: 1px;
  background-color: #274497;

  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1px;
    right: -0.3rem;
    background-color: #274497;
    top: -0.3rem;
    transform: rotate(45deg);
  }
}
@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}
@media (max-width: 48em) {
  main > *:first-child {
    margin-top: 12rem;
  }
  section {
    margin-bottom: 25rem;
  }
  .container {
  
    & > .top-title {
      text-align: center;
    }
  }
  .btn {
    display: block;
    cursor: pointer;
    border: 1px solid #0D0D0D;
    border-radius: 6.9rem;
    padding: 3.4rem 0;
    font-size: 2.8rem;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  .link-arrow {
    color: #274497;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    padding-right: 9.2rem;
  
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 6.4rem;
        height: 2.7rem;
        background: url(../img/icon/arrow-right.svg) no-repeat;
        right: 0;
        background-size: contain;
    }
  }
  .top-back {
    display: block;
    color: #274497;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
    padding-left: 9.2rem;
    margin-bottom: 6rem;
  
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 6.4rem;
      height: 2.7rem;
      background: url(../img/icon/arrow-left.svg) no-repeat;
      left: 0;
    }
  }
  .text-normal {
    font-size: 2.8rem;
    line-height: 140%;
  }
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.8rem;
  
    .btn {
      height: fit-content;
    }
  }
  .top-title {
    font-size: 8rem;
    font-family: 'Cochineal';
    font-style: normal;
    font-weight: 400;
    line-height: 107%;
    letter-spacing: 2.4px;
  }
  .blue-text {
    color: #274497;
  }
  .arrow {
    position: absolute;
    top: 2.5rem;
    width: 3.25rem;
    height: 1px;
    background-color: #274497;
  
    &::after {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1px;
      right: -0.3rem;
      background-color: #274497;
      top: -0.3rem;
      transform: rotate(45deg);
    }
  }
}
